#top-box {
    background-image: url("https://t3.ftcdn.net/jpg/06/59/62/56/360_F_659625696_6fl3fLxrdrDxB8udQNgcBKySen3Ij78t.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}